.navbarContainer{
    background-color: var(--white-primary) ;
    border-radius: 20px;
    margin: 20px 60px;
    padding: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logoContainer{
    margin-left: 30px;
}

.navlinks{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-right: 30px;
    margin-right: 40px;
}

.navlinks li{
    list-style-type: none;
}

.navlink a{
    color: var(--black-primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}
